@charset "utf-8";
/* CSS Document */

#container {
	width: 100%;
	background-image: url(../../images/sml/sml_bg_fruit.jpg);
	background-position:center top;
}
#logo {
	height:100px;
	width:320px;
	background-image: url(../../images/sml/sml_logo.png);
	margin-left:auto;
	margin-right:auto;
}
nav {
	margin-left:10px;
}
#maincontent {
	padding:0;
}
nav ul {
	font-size:24px;
	margin-right:10px;
}
nav ul li:hover {
	margin-top:0;
}
nav ul a:link, nav ul a:visited {
	padding: 0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	width:97%;
	text-align:left;
}
#vision {
	clear:both;
	background-image:none;
	width: 280px;
	height:auto;
	font-size:16px;
}
.pod {
	width: 305px;
}
.podContent {
	width: 302px;
	height:180px;
}
#facebookTwitter {
	margin-right:10px;
}
